.place__title {
  max-width: 460px;
  width: 100%;
  margin-bottom: 48px;
  margin-top: 0;
  font-style: normal;
  font-weight: 900;
  font-size: calc(32px + (72 - 32) * (100vw - 320px) / (1281 - 320));
  line-height: 106%;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
} 

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    line-height: 110%;
  }
}

@media screen and (max-width: 440px) {
  .place__title {
    margin-bottom: 0;
  }
} 

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
} 