.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
  list-style: none;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  justify-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .photo-grid__list {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
      gap: 14px;
    }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
    .photo-grid__list {
      grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
      gap: 16px;
    }
}


@media screen and (max-width: 320px) {
    .photo-grid__list {
      grid-template-columns: repeat(auto-fit, 288px);
      grid-template-rows: repeat(auto-fit, 216px);
      gap: 12px;
    }
}
