.header {
  width: 96%;
  max-height: 52px;
  margin: auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    max-height: 42px;
  }
}