.content {
  position: relative;
  display: block;
  margin-bottom: 77px;
}

@media screen and (max-width: 1024px) {
  .content {
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    margin-bottom: 64px;
  }
}