.place__paragraph {
  margin-top: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: calc(16px + (18 - 16) * (100vw - 320px) / (1281 - 320));
  line-height: 163%;
  color: #FFFFFF;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    max-width: 352px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
  }
}