.place__paragraph {
  margin: 0;
  height: max-content;
  font-style: normal;
  font-weight: 400;
  font-size: calc(16px + (18 - 16) * (100vw - 320px) / (1281 - 320));
  line-height: 163%;
  color: #FFFFFF;
}

.place__paragraph:first-child {
  margin-bottom: 26px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph:first-child {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
  }
  .place__paragraph:first-child {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
  }
  .place__paragraph:first-child {
    margin-bottom: 25px;
  }
}