.website {
  width: 100%;
  max-height: 46px;
  margin-top: 0;
  margin-bottom: 48px;
  align-self: end;
}

@media screen and (max-width: 1024px) {
  .website {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .website {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .website {
    max-width: 288px;
    margin-bottom: 0;
    grid-row: 2/3;
  }
}