.place {
  max-width: 984px;
  height: max-content;
  margin-bottom: 80px;
  display: grid;
  grid-auto-flow: column;
  gap: 48px 40px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    margin-bottom: 73px;
    gap: 48px 28px;
  }
  .place:first-child {
    margin-bottom: 115px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 50px;
    gap: 32px 0;
    grid-auto-flow: row;
    justify-items: stretch;
  }
  .place:first-child {
    gap: 32px 0;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    justify-items: center;
  }
}