.place {
  max-width: 984px;
  height: max-content;
  margin-bottom: 80px;
  display: grid;
  grid-auto-flow: column;
  gap: 48px 40px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    gap: 48px 32px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    margin-bottom: 73px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    max-width: 500px;
    margin: 0 auto 50px;
    grid-row-gap: 32px;
    grid-column-gap: 0;
    grid-auto-flow: row;
    justify-items: center;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
  }
}