.photo-grid__image {
    max-width: 284px;
    width: 100%;
    display: block;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .photo-grid__image {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .photo-grid__image {
        max-width: 352px;
    }
}

@media screen and (max-width: 500px) and (min-width: 319px) {
    .photo-grid__image {
        max-width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid__image {
        max-width: 288px;
    }
}